<header data-menu-anima="fade-in">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-mini">
            <div class="container">
                <div class="nav navbar-nav navbar-left">
                    {{ page.top_bar_left }}
                </div>
                <div class="nav navbar-nav navbar-right">
                    <div class="minisocial-group">
                        {{ page.top_bar_right }}
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-main mega-menu-fullwidth">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    {{ page.header_search }}
                </div>
                <div class="collapse navbar-collapse">
                    {{ page.main_menu }}
                    <div class="nav navbar-nav navbar-right">
                        <div class="search-box-menu">
                            <div class="search-box scrolldown">
                                {{ page.header_search }}
                            </div>
                            <button type="button" class="btn btn-default btn-search">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header